
/* IMPORTS */
@import url("bootstrap/css/bootstrap.css");
@import url(http://fonts.googleapis.com/css?family=Rambla|Dosis|Armata|Duru+Sans|Ropa+Sans|Istok+Web|Oxygen+Mono|Monda|Fjalla+One|Montserrat|Cinzel+Decorative|Gafata|Galdeano|Nunito|Coda);

/* ELEMENTS */
body {
/*    font-size : 12px;*/
    font-family : "Arial", sans-serif;
}

/* DIVs */
/* Connexion Div */
#db_connexion {
    width            : 960px
}

#db_url {
    width : 600px; 
    text-align : left;
}

#connexion_msg {
/*    width            : 960px;*/
    height           : 150px;
    background-color : white;
    padding          : 5px;
}

/* Log div */ 
#log {
    width            : 960px;
    color            : white;
    background-color : black;
    overflow         : auto;
    padding          : 5px;
    max-height       : 100px;
}

/* Diagram Div */
#pipeline_diagram {
/*    width            : 960px;*/
    width            : 100%;
    height           : 650px;
    color            : black;
    background-color : white;
    padding          : 5px;
    resize           : both;
    overflow         : hidden;
}

/* Analysis Div */
#analysis_details {
    
    font-size        : 12px;
    width            : 450px;
    color            : black;
    background-color : #E6EBF0;
    padding          : active;

    position         : absolute;
    z-index          : 24;
    overflow         : hidden;
    right            : 5px;
}


/* Tables located in table fields */

#moduleName {
    width            : 266px;
}

.input-row, .input-key {
    margin           : 0;
    padding          : 0;
}

input[type="text"], select {
    margin           : 0;
    padding          : 0;
    font-size        : 12px;
}

.td-input-key {
    width            : 110px;
    overflow         : hidden;
    display          : inline-block;
    margin           : 0;
    padding          : 0;
}

.td-input-value {
    width            : 160px;
    overflow         : hidden;
    display          : inline-block;
    margin           : 0;
    padding          : 0;
}

.button-cell {
    background-color : gray;
    width            : 20px;
    text-align       : center;
}

/* .input-field { */
/*     background-color : cyan; */
/*     width            : 40px; */
/*     overflow         : hidden; */
/* } */


/* .parameters_table td { */
/*     Background-color : red; */
/*     width            : 120px; */
/*     border           : solid; */
/*     overflow         : hidden; */
/*     display          : inline-block; */
/*     white-space      : nowrap; */
/* } */

/* Specific non-container elements */
#Connect {
    vertical-align : top;
    height         : 30px;
    box-shadow: 1px 1px 0;
}

/* date-range */
.date_range_filter {
    width            : 5.5em;
}
.ui-widget-content {
    background-color : white;
}

.header-table {
    width           : 100%;
}

.td-right {
    text-align     : right;
}

/* None of this seems to work */
#jobs_table {
    width : 100%;
}

#jobs_table td {
    width:1px;
}

.inner_table {
    padding : 0px;
    margin : 0;
    
}

