
/* IMPORTS */
@import url("../lib/bootstrap/css/bootstrap.css");
@import url(http://fonts.googleapis.com/css?family=Rambla|Dosis|Armata|Duru+Sans|Ropa+Sans|Istok+Web|Oxygen+Mono|Monda|Fjalla+One|Montserrat|Cinzel+Decorative|Gafata|Galdeano|Nunito|Coda);

/* ELEMENTS */
body {
/*    font-size : 12px;*/
    font-family : "Arial", sans-serif;
}

/* DIVs */

/* Connexion Div */
#db_connection, #cached_connections {
    width            : 800px;
}

#db_url {
    width : 600px; 
    text-align : left;
}

.tiny_font {
    font-size : 10px;
}


/* Specific non-container elements */
#Connect {
    vertical-align : top;
    height         : 30px;
    box-shadow: 1px 1px 0;
}

.center {
    text-align : center;
}

.centered_div {
    display : block;
    margin-left : auto;
    margin-right : auto;
    margin-top : 30px;
}

#container {
    width      : 100%;
    position   : absolute;
    top        : 50%;
    margin-top : -20em;
}
