
/* IMPORTS */
@import url("bootstrap/css/bootstrap.css");
@import url(http://fonts.googleapis.com/css?family=Rambla|Dosis|Armata|Duru+Sans|Ropa+Sans|Istok+Web|Oxygen+Mono|Monda|Fjalla+One|Montserrat|Cinzel+Decorative|Gafata|Galdeano|Nunito|Coda);

/* ELEMENTS */
body {
/*    font-size : 12px;*/
    font-family : "Arial", sans-serif;
}

input {
    empty-cells : hide;
    font-size   : 12px;
    text-align  : center;
    text-overflow : active; /* is active a valid value? */
    border      : none;
}


/* DIVs */
/* Connexion Div */
#db_connexion {
    width            : 960px
}

#db_url {
    width : 600px; 
    text-align : left;
}

#connexion_msg {
/*    width            : 960px;*/
    height           : 150px;
    background-color : white;
    padding          : 5px;
}

/* Log div */ 
#log {
    width            : 960px;
    color            : white;
    background-color : black;
    overflow         : auto;
    padding          : 5px;
    max-height       : 100px;
}

/* Diagram Div */
#pipeline_diagram {
/*    width            : 960px;*/
    width            : 100%;
    height           : 650px;
    color            : black;
    background-color : white;
    padding          : 5px;
    resize           : both;
    overflow         : hidden;
}

/* Analysis Div */
#analysis_details {
    font-size        : 12px;
/*    width            : 960px;*/
    width            : 450px;
    color            : black;
    background-color : #E6EBF0;
    padding          : active;

    position         : absolute;
    z-index          : 24;
    overflow         : scroll;
    right            : 5px;
}

/* Specific non-container elements */
#Connect {
    vertical-align : top;
    height         : 30px;
    box-shadow: 1px 1px 0;
}

/* date-range */
.date_range_filter {
    width            : 5.5em;
}
.ui-widget-content {
    background-color : white;
}

.td-right {
    text-align     : right; /*This is not working*/
/*     vertical-align : top; */
}

/* None of this seems to work */
#jobs_table {
    width : 100%;
}

#jobs_table td {
    width:1px;
}

.inner_table {
    padding : 0px;
    margin : 0;
    
}

