@import url("bootstrap/css/bootstrap.css");


/* Connexion Div */

.db_connexion {
    width            : 960px
}

#connexion_msg {
    width            : 960px;
    height           : 150px;
    color            : black;
    background-color : white;
/*    border           : 2px solid darkblue;*/
    padding          : 5px;
}

/* Log div */ 
#log {
    width            : 960px;
    color            : white;
    background-color : black;
    overflow         : auto;
    padding          : 5px;
    max-height       : 100px;
}

/* Diagram Div */
#pipeline_diagram {
    width            : 960px;
    height           : 450px;
    color            : white;
    background-color : grey;
    border           : double;
    padding          : 5px;
    resize           : both;
    overflow         : hidden;
}

/* Analysis Div */
.analysis_details {
    width            : 960px;
    color            : black;
    background-color : white;
    border           : groove;
    padding          : active;
}

/* date-range */
.date_range_filter {
    width            : 5.5em;
}
.ui-widget-content {
    background-color : white;
}

input {
    empty-cells : hide;
    font-size   : 12px;
    text-align  : center;
    text-overflow : active; /* is active a valid value? */
    border      : none;
}


body {
    font-size : 12px;
    color     : grey;
}